<%
var channelErrors = locals.errors.channels;
var generalErrors = ("general" in channelErrors) ? channelErrors.general : false ;  
%>
<%- include('partials/header'); %> 
<div id="add-chnnel">
	<div class="container">
		<div id="login-row" class="row justify-content-center align-items-center">
			<div id="login-column" class="col-md-6">
				<div id="login-box" class="col-md-12">
					<h3 class="text-center text-info">new channel</h3>
					<% var users = locals.channels.users %>
					<form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data"class="text-info">channel name</label>
						<input type="text" class="form-control" name="name" placeholder="channel Name" value="">
						<div class="form-group">
							<label for="avatar" class="text-info">Avatar</label><br>
							<div class="custom-file">
								<input type="file" class="custom-file-input" name="avatar" id="customFile">
								<label class="custom-file-label" for="customFile">Choose file</label>
							  </div>
						</div>
						<p><img src="<%= locals.user.photoURL %>" alt=""></p>
						<% if (users) { %>
							<% users.forEach(function(user) { %>
								<input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>"class="text-info"> add user</label>
								<p><%= user.name %></p>
							<% }) %>
						<% } %>

						<% if (generalErrors) { %>
							<% generalErrors.forEach(function(error) { %>
								<p class="alert alert-primary" role="alert"><%= error %></p>
							<% }) %>
						<% } %>
						<div class="form-group">    
							<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
						</div>
					</form>
					<% 
					var channels = locals.channels
					var owned = ("owned" in  channels) ? channels.owned : false
					var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
					%>
					<div id="owned-channels" class="user-channels">
						<h4>Your Channels</h4>
					<% if (owned) { %>
						<ul>
						<% owned.forEach(function(channel) { %>
							<li>
								<img src="<%= channel.image %>" alt="<%= channel.name %>">
								<a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
								<a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
							</li>
						<% }) %>
						</ul>
					<% }  %>
					</div>
					<div id="subscribed-channels" >
						<h4>Subscribed Channels</h4>
					<% if (subscribed) { %>
						<ul>
						<% subscribed.forEach(function(channel) { %>
							<li>
								<img src="<%= channel.image %>" alt="<%= channel.name %>">
								<a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
							</li>
						<% }) %>
						</ul>
					<% }  %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer'); %>
    